/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

$color-white: #ffffff;
$color-black: #000000;
$color-text: #87949e;
$color-heading: #576671;
$color-green: #17daa3;
$color-btn-first:  #00b6cb;

$font-size-logo: 36px;
$font-size-menuAndBtn: 14px;
$font-size-h1: 60px;
$font-size-subtitle: 24px;
$font-size-h2: 30px;
$font-size-text: 18px;


.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

section {
    padding: 110px 0;
    width: 100vw;
    margin: 0;
}

.btn {
    font-size: $font-size-menuAndBtn;
    color: $color-white;
    border-radius: 30px;
    border: transparent;
    padding: 18px 50px;
    font-family: 'Raleway', sans-serif;
    background-color: $color-green;
    transition: background-color 0.4s ease-out;

    &__first {
        background-color: transparent;
        border: 2px solid #ffffff;
    }

    &__middle {
        text-align: center;
    }
}

.btn:hover {
    background-color: #1fffc0e5;
}

a {
    text-decoration: none;
}

/* Header */

.splash {
    background-image: url('/images/splash.jpg');
    width: 100%;
    height: 1068px;
    color: $color-white;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.splash::after {
    position: absolute;
    background-color: #000000;
    opacity: 0.55;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: $font-size-logo;
        z-index: 2;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;

        p {
            font-style: normal;
            letter-spacing: 0.9px;
            line-height: normal;
        }

        span {
            color: $color-green;
            font-size: 60px;
            font-style: normal;
            letter-spacing: 1.5px;
            line-height: normal;
        }
    }
}

.nav__menu {
    list-style-type: none;
    display: flex;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;

    &__icon {
        font-size: $font-size-menuAndBtn;
    }

    .hidden {
        font-size: 0;
    }

    li {
        font-style: normal;
        letter-spacing: 0.35px;
        line-height: normal;
        z-index: 10;
    }

    a {
        color: $color-white;
        font-size: $font-size-menuAndBtn;
        margin-left: 65px;
    }

    a:hover {
        color: $color-green;
    }
}



.splash__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;

    h1 {
        font-size: $font-size-h1;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 1.5px;
        line-height: normal;

        span {
            font-weight: 100;
            font-style: normal;
            letter-spacing: 1.5px;
            line-height: normal;
        }
    }

    p {
        font-size: $font-size-subtitle;
        margin-bottom: 60px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.6px;
        line-height: normal;
    }
}

/* About */

.title {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-h1;
    font-weight: 200;
    color: $color-heading;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    position: relative;
}

.title-main::after {
    position: absolute;
    width: 30px;
    height: 1px;
    content: '';
    background: $color-green;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
}

.section-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-text;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
}

.card {
    margin: 155px 0 110px 0;
}

.card h2 {
    font-size: $font-size-h2;
    font-weight: 400;
    color: $color-black;
    font-style: normal;
    letter-spacing: normal;
    line-height: 96px;
    text-align: center;

}

.card p {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-text;
    font-weight: 400;
    color: $color-text;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
}

.about .icon {
    text-align: center;

}

.icon i {
    width: 182px;
    height: 182px;
    border-radius: 182px;
    line-height: 182px;
    background-color: #87949e26;
    color: $color-text;
    text-align: center;
    font-size: 60px;
}


.icon .green {
    background-color: $color-green;
    color: $color-white;
}

/* Section second and third */

.section__middle {
    height: 700px;
}

.section__middle p {

    font-family: 'Raleway', sans-serif;
    font-size: $font-size-text;
    font-weight: 400;
    color: $color-text;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    padding-bottom: 75px;
}

.section-second {
    background-color: #edeff159;

    img {
        height: 550px;
        width: 550px
    }
}

.section-third img {
    height: 550px;
    width: 550px
}

.right {
    position: absolute;
    width: 50%;
    right: 0px;
}

.left {
    position: absolute;
    width: 50%;
    left: 0px;
}

/* Section splash */

.section-splash1 {
    background-image: url('/images/section_splash1.jpg');
    background-size: cover;
    background-position: center center;
    padding-top: 180px;

    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: $font-size-h2;
        font-weight: 300;
        color: $color-white;
        font-style: normal;
        letter-spacing: normal;
        line-height: 96px;
        text-align: center;
    }

    span {
        color: $color-green;
        font-style: normal;
        letter-spacing: 0.75px;
        line-height: normal;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-size: $font-size-text;
        font-weight: 300;
        color: #ffffff4C;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16px;
        text-align: center;
    }

    .section-splash-photo {
        text-align: center;
    }

    img {
        width: 104px;
        height: 104px;
        border-radius: 104px;
    }
}

/* Services */

.services .icon i {
    width: 94px;
    height: 94px;
    line-height: 94px;
    border-radius: 94px;
    background-color: $color-white;
    color: $color-green;
    font-size: 32px;
    margin: 40px 50px 0 0;
}

.services {
    background-color: #edeff159;

    p {
        font-family: 'Raleway', sans-serif;
        font-size: $font-size-text;
        color: $color-text;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 47.91px;
    }
}

.services .title {
    padding-bottom: 100px;
}

.services-card {
    display: flex;
    margin: 20px;

    h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }
}

/* Team */

.team {
    padding-bottom: 0;

    &__photos {
        margin-top: 100px;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 100px auto 0;
    }
}

.image {
    position: relative;
    width: 350px;
    height: 350px;

    &__img {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Raleway', sans-serif;
        color: $color-white;
        font-size: $font-size-h2;
        background-color: #17daa3B2;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__overlay:hover {
        opacity: 1;
    }

    &__overlay:hover p {
        transform: translateY(0);
    }

    &__overlay p {
        transform: translateY(20px);
        transition: transform 0.3s;
    }
}


/* Pricing */

.pricing {
    background-color: #edeff159;

    .content {
        margin: 100px 0 70px 0;
    }

    .card {
        box-shadow: 0 0 35px rgba(227, 227, 227, 0.65);
        border-radius: 5px;
        background-color: #ffffff;
        margin: 0 12px;
        position: relative;

        &__inner {
            margin-top: 20px;
            padding: 0 30px;

            h1 {
                color: $color-green;
                font-family: 'Raleway', sans-serif;
                font-size: $font-size-h1;
                font-weight: 400;
                font-style: normal;
                line-height: 96px;
                text-align: left;
                letter-spacing: 1.5px;
                margin: 0;
                }

            p.subtitle {
                color: #87949e72;
                font-family: 'Raleway', sans-serif;
                font-size: $font-size-text;
                font-weight: 400;
                font-style: normal;
                text-align: left;
                letter-spacing: 0.45px;
                margin-top: 0;
            }

            p {
                color: $color-text;
                font-family: 'Raleway', sans-serif;
                font-size: $font-size-text;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 48px;
                text-align: left;
                letter-spacing: 0.45px;
                padding: 20px 0;
            }
        }

        &__inner p::after {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: #87949e19;
            left: 50%;
            top: 35%;
            transform: translateX(-50%);
        }
    }

    .card-btn {
        box-shadow: 0 0 35px rgba(227, 227, 227, 0.35);
        border-radius: 5px;
        background-color: $color-green;
        display: flex;
        justify-content: space-between;
        padding: 25px 60px 25px 30px;
        color: $color-white;

        p {
            margin: 0;
            padding: 0;
            line-height: 2;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            color: $color-white;
            font-size: $font-size-text;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 1.85px;
        }

        .btn-icon {
            line-height: 2;
        }
    }

    .card-btn:hover {
        background-color: #1fffc0;
    }
}


/* Map - still has to be finished */

.map img {
    position: relative;
    width: 100%;
}

.map img::after {
    position: absolute;
    content: ' ';
    background-color: $color-green;
    height: 11px;
    width: 11px;

}

/* Section splash2 */

.section-splash2 {
    background-image: url('/images/section_splash2.jpg');
    background-size: cover;
    background-position: center center;
    padding-top: 180px;

    h1 {
        color: $color-white;
        font-family: 'Raleway', sans-serif;
        font-size: $font-size-h1;
        font-weight: 200;
        font-style: normal;
        letter-spacing: 1.5px;
        line-height: 96px;
        text-align: center;
        margin: 70px 0 110px;
    }

    span {
        font-weight: 700;
        line-height: normal;
    }

}

/* Footer */

.footer {
    padding-top: 50px;

    &__logo {

        display: flex;

        p {
            color: $color-text;
            font-family: 'Raleway', sans-serif;
            font-size: $font-size-text;
            font-weight: 400;
            letter-spacing: 0.45px;
            line-height: 24px;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        i {
            color: $color-green;
            font-size: 20px;
            line-height: 24px;
            border: 1px solid $color-green;
            border-radius: 24px;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }
    }

    &__menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: $font-size-text;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        align-items: center;

        li {

            font-style: normal;
            letter-spacing: 0.45px;
            line-height: normal;
        }

        a {
            font-family: 'Raleway', sans-serif;
            color: $color-text;
            font-size: $font-size-text;
            padding-left: 65px;
        }

        a:hover {
            color: $color-black;
        }
    }
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;

}

/* Media queries */

@media only screen and (max-width: 576px) {
    /* Global */

    section{
        padding: 50px 0;
    }

    .container {
        max-width: 540px;
    }

    /* Header */

    .nav {
        position: relative;
    }

    .nav__menu {
        display: none;
        position: absolute;
        background-color: transparent;
        right: 0;
        left: 0;
        text-align: right;
        padding-right: 20px;
        line-height: 1.8;
        color: red;
    }

    input[type=checkbox]:checked ~ .nav__menu {
        display: block;
    }

    .hamburger {
    display: block;
    font-size: 38px;
    }

    .splash {
        height: 100vh;

        &__inner {
            h1 {
                font-size: 45px;
            }
        }
    }

    /* About */

    .section-title {
        font-size: 45px;
    }

    .section-subtitle {
        font-size: 14px;
        padding: 0 40px;
    }

    .title-main::after {
        top: 70px;
    }

    .content {
        flex-wrap: wrap;
        padding: 0 0 40px;
    }

    .card {
        margin: 55px 0 10px 0;

        h2 {
            line-height: 60px;
        }

        p {
            line-height: 20px;
            padding: 0 40px;
        }
    }

    .icon i {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        line-height: 90px;
        font-size: 40px;
    }

    /* Section middle */

    .section-second,
    .section-third {
        height: 50vh;
        padding: 0 70px;

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 12px;
            line-height: 30px;
            padding-bottom: 30px;
        }
    }

    .section-second img {
        display: none;
    }

    .section-third img {
        display: none;
    }

    .right,
    .left {
        width: 100%;
    }

    /* Services */

    .services {
        .title {
            padding-bottom: 50px;
        }

        p {
            font-size: 14px;
            line-height: 30px;
        }
    }

    .services-card {
        margin: 0;

        h1 {
            font-size: 35px;
        }
    }


    /* Team */

    .team__photos {
        width: 100vw;
        justify-content: center;
        padding-bottom: 50px;
    }

    .image {
        width: 160px;
        height: 160px;
    }

    /* Pricing */

    .pricing .card {
        width: 80%;
        margin-bottom: 30px;

        .card__inner {
            margin-top: 10px;

            h1 {
                text-align: center;
            }

            p.subtitle {
                text-align: center;
            }

            p {
                font-size: 16px;
                line-height: 35px;
                padding: 0;
            }
        }
    }

    /* Map */

    .map.section__middle {
        height: auto;
    }

    .map {
        width: 100vw;
        height: 700px;

        .container {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 12px;
                line-height: 30px;
                padding-bottom: 30px;
            }

            .left,
            .right {
                width: 100%;
                position: unset;
                padding-bottom: 50px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    /* Section splash2 */

    .section-splash2 h1 {
        font-size: 40px;
        padding: 0 50px;
    }

    /* Footer */

    .footer {
        padding-top: 25px;
    }

    .footer .container {
        display: block;
    }

    .footer__logo {
        justify-content: center;
        padding-bottom: 40px;

        p {
            font-size: 14px;
        }
    }

    .footer__menu {
        justify-content: space-between;

        a {
            padding: 0;
        }
    }
}

@media only screen and (min-width: 577px) and (max-width:768px) {
      /* Global */

    section {
        padding: 50px 0;
    }

    .container {
        max-width: 720px;
    }

    /* Header */

    .nav {
        position: relative;
    }

    .nav__menu {
        display: none;
        position: absolute;
        background-color: transparent;
        right: 0;
        left: 0;
        text-align: right;
        padding-right: 20px;
        line-height: 1.8;
        color: $color-white;
    }

    input[type=checkbox]:checked ~ .nav__menu {
        display: block;
    }

    .hamburger {
    display: block;
    font-size: 38px;
    }

    .splash {
        height: 100vh;

        &__inner {
            h1 {
                font-size: 45px;
            }
        }
    }

    /* About */

    .section-title {
        font-size: 45px;
    }

    .section-subtitle {
        font-size: 14px;
        padding: 0 40px;
    }

    .title-main::after {
        top: 70px;
    }

    .content {
        flex-wrap: wrap;
        padding: 0 0 40px;
    }

    .card {
        margin: 55px 0 10px 0;
        width: 50%;

        h2 {
            line-height: 60px;
        }

        p {
            line-height: 20px;
            padding: 0 40px;
        }
    }

    .icon i {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        line-height: 90px;
        font-size: 40px;
    }

    /* Section middle */

    .section-second img {
        height: 300px;
        width: 300px;
    }

    .section-third img {
        height: 300px;
        width: 300px;
    }

    /* Services */

    .services {
        .title {
            padding-bottom: 50px;
        }

        p {
            font-size: 14px;
            line-height: 30px;
        }
    }

    .services-card h1 {
        font-size: 35px;
    }

      /* Team */

      .team__photos {
        width: 100vw;
        justify-content: center;

    }

    .image {
        width: 130px;
        height: 130px;
    }


    /* Pricing */

    .pricing {
        .card {
            width: 40%;
            margin-bottom: 25px;
        }

        .card__inner {
            margin-top: 10px;

            p {
                font-size: 14px;
                line-height: 30px;
                padding: 0;
            }
        }

        .card__inner p::after {
            top: 39%;
        }
    }

    /* Section splash2 */

    .section-splash2 h1 {
        font-size: 40px;
        padding: 0 50px;
    }

    /* Footer */

    .footer {
        padding-top: 25px;
    }

    .footer .container {
        display: block;
    }

    .footer__logo {
        justify-content: center;
        padding-bottom: 40px;

        p {
            font-size: 14px;
        }
    }

    .footer__menu {
        justify-content: space-around;

        a {
            padding: 0;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width:1200px) {
    /* Global */

    section {
    padding: 50px 0;
    }

    .container {
        max-width: 960px;
    }

    /* Header */

    .nav__menu {
        a {
            margin-left: 50px;
        }
    }

    .splash {
        height: 100vh;

    }

    /* About */

    .section-title {
        font-size: 45px;
    }

    .section-subtitle {
        font-size: 14px;
        padding: 0 40px;
    }

    .title-main::after {
        top: 70px;
    }

    .content {
        flex-wrap: wrap;
        padding: 0 0 40px;
    }

    .card {
        margin: 55px 0 10px 0;
        width: 50%;

        h2 {
            line-height: 60px;
        }

        p {
            line-height: 20px;
            padding: 0 40px;
        }
    }

    .icon i {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        line-height: 90px;
        font-size: 40px;
    }

    /* Section middle */

    .section-second img {
        height: 300px;
        width: 300px;
    }

    .section-third img {
        height: 300px;
        width: 300px;
    }

    /* Services */

    .services {

        .row {
            display: flex;
        }
        .title {
            padding-bottom: 50px;
        }

        p {
            font-size: 14px;
            line-height: 30px;
        }

        .icon i {
            margin: 10px 20px 0 0;
        }
    }

    .services-card {
        margin: 10px;

        h1 {
            font-size: 35px;
        }
    }

    /* Team */

    .team__photos {
        width: 100vw;
        justify-content: center;

    }

    .image {
        width: 130px;
        height: 130px;
    }


    /* Pricing */

    .pricing {
        .card {
            width: 40%;
            margin-bottom: 25px;
        }

        .card__inner {
            margin-top: 10px;

            p {
                font-size: 14px;
                line-height: 30px;
                padding: 0;
            }
        }

        .card__inner p::after {
            top: 39%;
        }
    }

    /* Section splash2 */

    .section-splash2 h1 {
        font-size: 40px;
        padding: 0 50px;
    }

    /* Footer */

    .footer {
        padding-top: 25px;
    }

    .footer .container {
        display: block;
    }

    .footer__logo {
        justify-content: center;
        padding-bottom: 40px;

        p {
            font-size: 14px;
        }
    }

    .footer__menu {
        justify-content: space-around;

        a {
            padding: 0;
        }
    }
}


